<style>
    nav {
      background-color: #555;
      text-align: center;
      padding: 10px 0;
    }
    nav a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
    }
</style>

<nav>
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/blogs/create">New Blog</a>
    <a href="/blogs">All Blogs</a>
  </nav>